.popup__container {
  width: 470px;
  height: 370px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 282px;
    height: 358px;
    gap: 16px;
  }
}
