.popup__toggle {
    background-image: url(../../../images/closeIcon.svg);
    width: 32px;
    height: 32px;
    border: 0;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    align-self: end;
}

.popup__toggle:hover {
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .popup__toggle {
        width: 20px;
        height: 20px;
    }
}